body {
  width: 100%;
}

.App {
  background-color: #282c34;
  min-height: 100%;
  border: 1px solid white;
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

}

.clock {
  display: flex;
  width: 50%;
  min-width: 320px;
  min-height: 200px;
  background-color: red;
}

.colon {
  width: 20px;
}


.time-box-seperator {
  flex-basis: 5%;
  background-color: orange;
  text-align: center;
  display: flex;
  justify-content: center;
}

.time-box {
  background-color: green;
  margin: 2px;
  flex-basis: 30%;
}



.tmp {
  background-color: blue;
  /* width: 20px;
  height: 20px; */
  margin: 3px;
  flex-basis: 60%;
  display: flex;
}

.tmp-small {
  background-color: blue;
  /* width: 20px;
  height: 20px; */
  margin: 3px;
  flex-basis: 20%;
}


